<h1 class="text-center">{{pageTitle}}</h1>
<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <p class="lead">Welcome, {{auth.userProfile?.name}}!</p>

  <!-- Events -->
  <ng-template [ngIf]="recordList">
    <ng-template [ngIf]="recordList.length">
      <!-- Search events -->
      <section class="search input-group mb-3">
        <label class="input-group-addon" for="search">Search</label>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchRecords()" />
        <span class="input-group-btn">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </section>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredRecords, query)" class="alert alert-warning">
        No records found for <em class="text-danger">{{query}}</em>, sorry!
      </p>

      <!-- Events listing -->
      <section class="list-group">
          <a
              *ngFor="let record of fs.orderByDate(filteredRecords, 'requestedDate')"
              class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1" [innerHTML]="record.batchId"></h5>
                  <small style="color: red" *ngIf="!record.issuanceDate">Pending Issuance</small>
                  <small *ngIf="record.issuanceDate"><strong>Date Issued: </strong>{{record.issuanceDate | date: "dd-MMM-yyyy"}}</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                  <small *ngIf="!record.issuanceNumber"><strong>Issuance Number:</strong> Pending</small>
                  <small *ngIf="record.issuanceNumber"><strong>Issuance Number:</strong> {{record.issuanceNumber}}</small>
                  <small><strong>Record Name:</strong> {{record.batchRecordName}}</small>
              </div>
              <p class="mb-1">
                <a
                 [routerLink]="['/admin/delete-record', record._id]"><button class="btn btn-danger">Delete</button></a>
              </p>
          </a>
      </section>
</ng-template>

    <!-- No events available -->
    <p *ngIf="!recordList.length" class="alert alert-info">
      No records have been created yet.
    </p>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving record data.
  </p>

</ng-template>